main fieldset{
    border: 0;
    padding: 0 0;
}

main fieldset + fieldset{
    margin-top: 8px;
}

.divCardLS{
    width: 95%;
}


main fieldset legend{
    font: 700 1.3rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.75rem 0 0.75rem;
}

main fieldset legend.subLegend{
    font-size: 1.2rem !important;
    color: #424242 !important;
}

h4{
    margin-bottom: 0.75rem;
}

.divider{
    margin-bottom: 0.75rem !important;
}

.no-pad-bot{
    margin-bottom: 0 !important;
}

.btRepetir{
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    padding: 0 8px
}

.btRepetir:hover{
    background-color: #00acc1;
}

.btRepetir i{
    margin-left: 8px;
}

/*.helper-text{*/
/*    display: flex !important;*/
/*    justify-content: space-between !important;*/
/*    align-items: center !important;*/
/*}*/

.padingTop{
    padding-top: 3rem !important;
}

.vinteCinco{
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.margeTencher {
    margin-top: calc(2rem + 24px);
}
.margeTencherdois {
    margin-top: calc(1rem + 24px);
}

@media only screen and (max-width: 992px) {
    .input-fieldi{
         margin-top: 0;
         margin-bottom: 4rem;
     }
    .margeTencherdois {
        margin-top: calc(1rem);
    }
}

@media only screen and (max-width: 600px) {
    div .divBtn .btn{
        width: 45% !important;
    }

    div .divBtn .btnn{
        width: 49% !important;
    }

    .divCardLS{
        width: 100%;
    }
}

@media only screen and (max-width: 992px){
    #modalRecorrencia {
        margin: auto !important;
        width: 75% !important;
    }
}



